<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Billing Summary</title>
</head>
<body>

<h2>HealWell Care Hospital</h2>
<h3>Billing Summary</h3>

<h4>Patient Details</h4>
<p>
Name: {{ patient.name }}<br>
Age: {{ patient.age }}<br>
Gender: {{ patient.gender }}<br>
Contact: {{ patient.contact }}
</p>

<h4>Services Availed</h4>
<table border="1" cellpadding="8">
    <tr>
        <th>Service</th>
        <th>Cost (₹)</th>
    </tr>
    {% for i in range(services|length) %}
    <tr>
        <td>{{ services[i] }}</td>
        <td>{{ costs[i] }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<p>Subtotal: ₹{{ subtotal }}</p>
<p>Discount: ₹{{ discount }}</p>
<p>GST (18%): ₹{{ gst }}</p>

<h3>Grand Total: ₹{{ grand_total }}</h3>

<br>
<a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>
