<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Patient Invoice</title>
</head>
<body>

<hr>
<h2 align="center">HealWell Care Hospital</h2>
<h3 align="center">Patient Invoice</h3>
<hr>

<h4>Patient Information</h4>
<p>
Name: {{ patient.name }} <br>
Age: {{ patient.age }} <br>
Gender: {{ patient.gender }} <br>
Contact: {{ patient.contact }}
</p>

<h4>Services Availed</h4>

<table border="1" cellpadding="8" cellspacing="0" width="60%">
    <tr>
        <th>Service</th>
        <th>Cost (₹)</th>
    </tr>
    {% for i in range(services|length) %}
    <tr>
        <td>{{ services[i] }}</td>
        <td>{{ costs[i] }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<p>Subtotal: ₹{{ subtotal }}</p>
<p>Discount: ₹{{ discount }}</p>
<p>GST (18%): ₹{{ gst }}</p>

<h3>Grand Total: ₹{{ grand_total }}</h3>

<hr>
<p><b>Thank you for choosing HealWell Care Hospital!</b></p>
<hr>

<br>
<a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>
