<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>HealWell Care Hospital - Admin Login</title>
</head>
<body>

    <h2>HealWell Care Hospital</h2>
    <h3>Admin / Receptionist Login</h3>

    <form method="post">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p style="color:red;">{{ error }}</p>

</body>
</html>
